# Ignore virtual environment
venv/

# Ignore Python bytecode files
__pycache__/
*.pyc

# Ignore OS-specific files
.DS_Store

# Ignore data files
data/

# Ignore any IDE-specific files (VS Code, for example)
.vscode/